@model Product

<div class="row">
    <h2 class="text-center text-info" style="margin-top:-15px;">حذف خصوصیت محصول </h2>
    <div class="col-md-12">
        <form asp-action="DeleteProductpost" method="post"
              data-ajax="true"
              data-Success="Refresh"
              enctype="multipart/form-data">

            <h3>آیا از حذف محصول با نام <span class="text-success">@Model.ProductFaName</span> مطمین هستید؟</h3>

            <input asp-for="ProductId" hidden />
            <input asp-for="ProductCreate" hidden />
            <input asp-for="ProductFaName" hidden />
            <input asp-for="ProductEnName" hidden />
            <input asp-for="ProductWeight" hidden />
            <input asp-for="ProductStar" hidden />
            <input asp-for="ProductTag" hidden />
            <input asp-for="IsActive" hidden />
            <input asp-for="IsOriginal" hidden />
            <input asp-for="CategoryId" hidden />
            <input asp-for="BrandId" hidden />
            <input asp-for="ProductImage" hidden />


            <div class="form-group text-right mx-4">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
                <button type="submit" value="Create" class="btn btn-danger">حذف اطلاعات</button>
            </div>

        </form>
    </div>
</div>