@model User
@{ 
    Layout = null;
}

<div>
   <h1>همنوا مارکیت</h1>
    <h5>
        برای فعال سازی حساب کاربری خود روی لینک زیر کلیک نمایید.
    </h5>
    <a href="https://localhost:44333/Account/ActiveAccount/@Model.UserId/@Model.ActiceCode"> فعال سازی حساب</a>
     
</div>
