@model User
@{ 
    Layout = null;
}

<div>
    <h2>بازیابی رمز عبور</h2>
    <h5>برای باز یابی رمز عبور خود روز لینک ذیل کلیک نمایید</h5>
    <a  href="https://localhost:44333/Account/Recovery/@Model.UserId/@Model.ActiceCode"></a>
</div>