
@model Category

<div class="row">
    <h2 class="text-center text-info" style="margin-top:-15px;">ویرایش دسته بندی</h2>
    <div class="col-md-12">
        <form asp-action="UpdateCategory" method="post"
              data-ajax="true"
              data-Success="Refresh"
              enctype="multipart/form-data">


            <input asp-for="SubCategory" hidden />

            <input asp-for="CategoryId" hidden />

            <div class="form-group">
                <label asp-for="CategoryFaName"></label>
                <input asp-for="CategoryFaName" type="text" class="form-control">
                <span asp-validation-for="CategoryFaName" class="text-danger "></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryEnName"></label>
                <input asp-for="CategoryEnName" type="text" class="form-control">
                <span asp-validation-for="CategoryEnName" class="text-danger "></span>
            </div>

            <div class="form-group text-right m-b-0">
                <button class="btn btn-primary waves-effect waves-light" type="submit">
                    ویرایش اطلاعات
                </button>
                <a asp-action="index" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>
        </form>
    </div>
</div>